<app-header></app-header>
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 bg-success ">
            <img src="https://th.bing.com/th/id/R.1c20bb113d839daa8571dfdce172924d?rik=a9SU3fPyi5J4fg&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2fvegetable-transparent%2fvegetable-transparent-5.png&ehk=cnZoz%2b6sfJTgJe0Y5pF6MJ%2bwWRVRfiKB7CQsPSl1NQE%3d&risl=1&pid=ImgRaw&r=0"  class="w-100 pb-3" alt="" style="margin-top: -80px;">
        </div>
        <div class="col-lg-6">
            <div class="w-75">
                <h1>Welcome to Cookpedia</h1>
                <p style="text-align: justify;" class="my-4">Discover 100+ recipes in your hand with the best recipe. Help you to find the easiest way to cook.</p>
            </div>
            
        </div>
    </div>
    <div class="row py-5">
        <div class="col-lg-6 d-flex justify-content-end">
            <div class="w-75"  style="text-align: justify; max-width: 400px;">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, accusamus expedita! Ullam aliquam saepe quia vitae similique eligendi fugit officiis delectus a commodi ut, suscipit aperiam harum dignissimos, autem eaque!</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
                    <li>Nemo minima adipisci architecto quo debitis vitae repudiandae </li>
                    <li>sint ipsum a error officia accusamus animi explicabo vel.</li>
                </ul>
                <a routerLink="/all-recipes" style="background-color: green;" class="btn text-light my-3">Explore Our Recipes</a>
            </div>
            
        </div>
        <div class="col-lg-6">
            <img src="https://png.pngtree.com/png-clipart/20231005/original/pngtree-young-chef-holding-vegetables-bowl-cook-photo-png-image_13260702.png" alt="" class="w-100">
        </div>
    </div>
</div>
<app-footer></app-footer>